
.bg-title-page {
    width: 100%;
    min-height: 239px;
    padding-left: 15px;
    padding-right: 15px;
    background: #cccccc;

}

.l-text2 {
    font-family: Montserrat-Bold;
    font-size: 50px;
    color: white;
    line-height: 1.2;
    text-transform: uppercase;
}
.t-center {
    text-align: center;
}
.m-text13 {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: white;
    line-height: 1.8;
}

.p-b-40 {
    padding-bottom: 40px;
}
.p-t-50 {
    padding-top: 50px;
}